[submodule "MAVProxy"]
	path = MAVProxy
	url = https://github.com/ArduPilot/MAVProxy
[submodule "icarous"]
	path = icarous
	url = https://github.com/nasa/icarous
[submodule "PolyCARP"]
	path = PolyCARP
	url = https://github.com/nasa/PolyCARP
[submodule "ardupilot"]
	path = ardupilot
	url = https://github.com/ArduPilot/ardupilot
[submodule "pyredemet"]
	path = pyredemet
	url = https://github.com/josuehfa/pyredemet
[submodule "pymavlink"]
	path = pymavlink
	url = https://github.com/ArduPilot/pymavlink
[submodule "webgs"]
	path = webgs
	url =  https://github.com/nasa/webgs
