alabaster==0.7.8
appdirs==1.4.4
asn1crypto==0.24.0
Babel==2.4.0
beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.1.4
distlib==0.3.1
docutils==0.14
enum34==1.1.6
filelock==3.0.12
future==0.18.2
gyp==0.1
html5lib==0.999999999
idna==2.6
imagesize==0.7.1
importlib-metadata==1.7.0
importlib-resources==3.0.0
ipaddress==1.0.17
Jinja2==2.10
keyring==10.6.0
keyrings.alt==3.0
lxml==4.5.2
MarkupSafe==1.0
MAVProxy==1.8.22
numpy==1.16.6
olefile==0.45.1
pathlib2==2.3.5
Pillow==5.1.0
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
pymavlink==2.4.11
pyOpenSSL==17.5.0
pyserial==3.4
pytz==2018.3
pyxdg==0.25
requests==2.18.4
roman==2.0.0
scandir==1.10.0
SecretStorage==2.3.1
singledispatch==3.4.0.3
six==1.15.0
Sphinx==1.6.7
sphinx-rtd-theme==0.2.4
typing==3.7.4.3
urllib3==1.22
vector==0.0.0
virtualenv==20.0.31
webencodings==0.5
wxPython==3.0.2.0
wxPython-common==3.0.2.0
zipp==1.2.0
